
html
    head
        title Тестовый заголовок
        meta(charset="utf-8")
        link(rel="stylesheet" href="assets/css/style.css")
    body
        .container-main
            include ./header   
            block content
            include ./footer
