
html
    head
        title Тестовый заголовок
        meta(charset="utf-8")
        link(rel="stylesheet" href="assets/css/style.css")
        link(rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css")
        script(src="/assets/js/jquery/jquery-2.2.0.min.js")
        script(src="/assets/js/plugins/plax.js")                      
        script(src="/assets/js/custom/script.js")
        script(src="/assets/js/custom/animations.js")                       
        //script(src="/assets/bootstrap/js/bootstrap.min.js")
        //script(src="/assets/js/_sliders-new.js")               
    body
        .container-main
            include ./header   
            block content
            include ./footer
