
html
    head
        title Тестовый заголовок
        meta(charset="utf-8")
        link(rel="stylesheet" href="assets/css/style.css")
    body
        .container-main
        header.header
            .container.container-header    
        block content
        footer.footer
            .container.container-footer
